 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Spline Sans", sans-serif;
}

/* --------main container */
.container {
    display: grid;
    grid-template-columns: 352px 1fr;
    min-height: 100vh;
    flex-direction: row;
}


/* ----------left sidebar css */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 352px;
    height: 100%;
    padding:35px;
    border: 1px solid #EBEBEB;
}

.sidebar-top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.logo img {
    width: 130px;
    height: 25px;
}



.user {
    display: flex;
    flex-direction: row;
    height: 69px;
    width: 286px;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;

}


.user #left-img {
    padding-left: 15px
}

.user .user-arrow {
    padding-left: 35px
}


.profile-arrow{
    font-size:14px;
    color:#BABABA;
    cursor:pointer;
}

.user-card {
    display: flex;
    flex-direction: column;
}

.user-card small {
    color: grey;
}

/* -----------------------Navbar css--------------------------- */
.navbar{

}

ul {
    list-style: none;
    justify-content: center;
    align-items: center;

}

ul li {
    display: flex;
    gap: 5px;
}

.menu-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 15px;
    color: gray;
}

ul a {
    text-decoration: none;
    color: grey;
}

li:hover {
    background-color: rgb(221, 249, 196);
    border-radius: 5px;

}

.menu-items img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%) brightness(60%);
}



#docs {
    background-color: rgb(212, 247, 181);
    border-radius: 5px;
    color: black;
}

#docs a{
    color: #1F4451;
}

/* ------------contact css --------------*/

.contact {
    width: 289px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
    vertical-align: baseline;
}

.top img{
    width: 27px;
    height: 27px;
}

.middle {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.middle h2 {
    font-size: 24px;
    font-weight: 500;
    color: #1F4451;
}

.middle p {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.contactbtn {
    color: white;
    background-color: #1F4451;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    size: 12px;
    font-weight:600;
}

/* ---------------------right side css------------ */

.home {
    /* flex: 1; */
    background-color: #f3f2f1;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 1150px;
}

.nav {
    display: flex;
    gap: 15px;
    color: gray;
    padding: 10px;
    position: static;
}

.nav a{
    text-decoration: none;
}

#home {
    color: black;
}

#doc1-head{
    color: #B5BDCD;
}
/* ----------------searchbar */

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.searchbar {
    padding: 12px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    color: grey;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-btn {
    line-height: 2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}

.btn1{
    padding: 8px 20px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    background: #fff;
    cursor: pointer;
    font-size: 13px;
    color: #626d82;
    weight: 500;
    font-family: "Inter", sans-serif;
}

.btn1:hover {
    background: #f1f5f9;
}

.searchbar input {
    border: none;
    font-size: 16px;
    background-color: white;
    color: black;
    outline: none;
}


.searchbar img {
    padding-left: 60px;
}

#heading {
    font-size: 33px;
    font-family: 'Zin Display', serif !important;
    color: #2A2A2A;  
    display: block;
}


/* ----------main table section------------ */
.main {
    background-color: white;
    border-radius: 8px;
    min-width: 1000px;
    overflow-x: visible;
    border: 0.5px solid #B5BDCD
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

#headdiv{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.header-arrow{
    font-size:14px;
    color:#BABABA;
    cursor:pointer;
}

th,
td {
    padding: 16px 16px;
    text-align: start;
     font-size: 14px; 
    border-bottom: 1px solid #eaecef;
    vertical-align: top;
}

thead th:last-child,
tbody td:last-child{
    text-align:right;
    white-space:nowrap;
}

th {
    color: #2A2A2A;
    font-weight: 600;
    font-size: 16px;
}

th input[type="checkbox"] {
    vertical-align: top;
}

th span img {
    vertical-align: middle;
}

tr td i {
    font-weight: 500;
    color: #B5BDCD;
    font-size: 16px;
}

 #italic{
    color: #436D7C
}

.doc-title {
    color: #436D7C;
    font-weight: 600;
    font-size: 16px;
}

thead th:nth-child(1) {
  padding-left: 28px; 
}

tbody td:nth-child(1) {
  padding-left: 28px; 
}

thead th:nth-child(3) {
  padding-left: 150px; 
}

tbody td:nth-child(3) {
  padding-left: 150px; 
}

thead th:nth-child(4) {
  padding-left: 50px; 
}

tbody td:nth-child(4) {
  padding-left: 50px; 
}

thead th:nth-child(5) {
  padding-left: 30px; 
}

tbody td:nth-child(5) {
  padding-left: 30px; 
}

.italictext{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.time {
    color: #6b7280;
    font-size: 16px;
    font-weight: 500;
}

.date {
    color: #6b7280;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.subtext {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    color: #436D7C;
    font-family: "Inter", sans-serif;
}

.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 22px;
    font-weight: 500;
}

.badge-sign {
    background: #1f4e5f;
    color: #fff;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.badge-pending {
    background: #eef0f3;
    color: #626d82;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.badge-complete {
    background: #d9f7c6;
    color: #1F4451;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}


.btn {
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid #B5BDCD;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    color: #626d82;
    font-weight: 500;
    width: 134px;
    font-family: "Inter", sans-serif;
}

.action-cell{
    padding:16px 16px;
    vertical-align: middle;
}

.action-wrapper{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    gap:8px;
}

.menu-dots {
    font-size: 20px;
    color: #6b7280;
    cursor: pointer;
    padding-left: 20px;
    user-select: none;
    font-size:22px;
    font-weight:700;   /* bold */
    color:#6b7280;
    cursor:pointer;
    user-select:none;
    padding-left: 8px;
    padding-right: 8px;
}

.btn.primary {
    color: #626d82;
}

.btn:hover {
    background: #f1f5f9;
}



input[type="checkbox"] {
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 1.5px #BABABA;
    accent-color: #1F4E5F;
}

.dots-wrapper{
    position:relative;
    display:flex;
    align-items:center;
}

.dots-menu{
    position:absolute;
    top:100%;
    right:0;
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:8px;
    padding:6px;
    width:120px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    display:none;
    z-index:10;
    display:none;          
    flex-direction:column; 
    gap:4px; 
}


.dots-wrapper:hover .dots-menu {
    display: flex;
}

.dots-btn {
    width: 100%;
    background: none;
    border: none;
    padding: 8px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
}

.dots-btn:hover {
    background-color: #f1f5f9;
}

.dots-btn.delete {
    color: #dc2626;
}
