* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Spline Sans", sans-serif;
}

/* --------main container */
.container {
    display: grid;
    grid-template-columns: 371px 1fr;
    min-height: 100vh;
    flex-direction: row;
}


/* #thheader {
    display: flex;
    gap: 5px;
} */

/* ----------left sidebar css */

.sidebar {
    display: flex;
    flex-direction: column;
    /* left:-19px; */
    width: 371px;
    height: 100%;
    /* background-color: red; */
    /* padding: 36px; */

}

.siidebar-top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    /* flex-direction: column; */

}

.logo {
    display: flex;
    position: relative;
    left: 35px;
    top: 36px;
}

.logo img {
    width: 130px;
    height: 25px;
    margin-bottom: 20px;
}

.user {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 45px;
    left: 35px;
    height: 69px;
    width: 286px;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
}


.user #left-img {
    padding-left: 15px
}

.user #right-img {
    padding-left: 20px
}

.user-card {
    display: flex;
    flex-direction: column;
}

.user-card small {
    color: grey;
}

/* -----------------------Navbar css--------------------------- */

ul {
    list-style: none;
    justify-content: center;
    align-items: center;

}

ul li {
    display: flex;
    gap: 5px;
}

.menu-items {
    display: flex;
    position: relative;
    left: 36px;
    /* ***********************top */
    top: 60px;
    width: 286px;
    align-items: center;
    gap: 20px;
    padding: 15px;
    color: gray;
    height:
        51px;
}

ul a {
    text-decoration: none;
    color: grey;
}

li:hover {
    background-color: rgb(221, 249, 196);
    border-radius: 5px;

}

.menu-items img {
    width: 22px;
    filter: grayscale(100%) brightness(70%);
}

#docs {
    background-color: rgb(212, 247, 181);
    border-radius: 5px;
    color: black;
}

/* ------------contact css --------------*/

.contact {
    position: relative;
    left: 35px;
    width: 289px;
    margin-top: auto;
    vertical-align: baseline;
    padding-bottom: 30px;
}

.top {
    grid-row: 1;
    margin-bottom: 20px;
}


.middle {
    grid-row: 2;
    margin-bottom: 20px;
    font-size: 16px;
    gap: 5px;
    line-height: 20px;
}

.bottom {
    grid-row: 3;
}

.middle h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.middle p {
    color: gray;
    font-size: 15px;
}

.contactbtn {
    color: white;
    background-color: #1F4451;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

/* ---------------------right side css------------ */

.home {
    flex: 1;
    background-color: #f3f2f1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 1150px;
}

.nav {
    display: flex;
    gap: 15px;
    color: gray;
    padding: 10px;
    margin-bottom: 10px;
    position: static;
}

#home {
    color: black;
}

/* ----------------searchbar */

.search {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row;
     padding: 10px; */
    align-items: center;
    /* gap: 16px; */
    /* background-color: rebeccapurple; */
}

.search-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.searchbar {
    padding: 12px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* padding: 12px; */
    justify-content: space-between;
    color: grey;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-btn {
    /* padding: 12px; */
    line-height: 2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}

.btn1{
    padding: 8px 20px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    background: #fff;
    cursor: pointer;
    font-size: 13px;
    color: #626d82;
    weight: 500;
    font-family: "Inter", sans-serif;
}

.btn1:hover {
    background: #f1f5f9;
}

.searchbar input {
    border: none;
    font-size: 16px;
    background-color: white;
    color: black;
    outline: none;
}


.searchbar img {
    padding-left: 60px;
}

#heading {
    font-size: 33px;
    font-family: 'Zin Display', serif !important;
    color: #2A2A2A;  
    display: block;
}


/* ----------main table section------------ */
.main {
    background-color: white;
    border-radius: 8px;
    min-width: 1084px;
    height: 500px;
    border: 0.5px solid #B5BDCD
}

table {
    width: 100%;
    padding: 20px 40px;
}



th,
td {
    padding: 14px 12px;
    text-align: start;
    font-size: 14px;
    border-bottom: 1px solid #eaecef;
    vertical-align: middle;
}


th {
    color: #2A2A2A;
    font-weight: 600;
    font-size: 15px;
}

th input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 8px;
}

th span img {
    vertical-align: middle;
}

tr td i {
    font-weight: 200;
    color: #B5BDCD;
    margin: 0 6px;
}

.doc-title {
    color: #436D7C;
    font-weight: 500;
    font-size: 15px;
}

thead th:nth-child(3) {
  padding-left: 200px; 
}

tbody td:nth-child(3) {
  padding-left: 200px; 
}

thead th:nth-child(4) {
  padding-left: 50px; 
}

tbody td:nth-child(4) {
  padding-left: 50px; 
}

thead th:nth-child(5) {
  padding-left: 30px; 
}

tbody td:nth-child(5) {
  padding-left: 30px; 
}

.statusbtn {
    padding: 12px 00px;
    border: none;
    color: grey;
}

.time {
    color: #6b7280;
    font-size: 12px;
}

.date {
    color: #6b7280;
    /* font-family: 'Inter', sans-serif;*/
    font-family: "Inter", sans-serif;
}

.subtext {
    font-size: 12px;
    margin-top: 4px;
    color: #436D7C;
}

.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 22px;
    font-size: 13px;
    font-family: "Inter", sans-serif;

}

.badge-sign {
    background: #1f4e5f;
    color: #fff;
}

.badge-pending {
    background: #eef0f3;
    color: #626d82;
}

.badge-complete {
    background: #d9f7c6;
    color: #1F4451;
}

.btn {
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    background: #fff;
    cursor: pointer;
    font-size: 13px;
    color: #626d82;
    weight: 500;
    width: 134px;
    font-family: "Inter", sans-serif;
    /* flex-direction: row;
     padding: 10px; */
}

.action-cell {
    padding-right: 30px;
    gap: 10px;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
}

.menu-dots {
    font-size: 20px;
    color: #6b7280;
    cursor: pointer;
    padding-left: 20px;
    user-select: none;
}

.btn.primary {
    color: #626d82;
}

.btn:hover {
    background: #f1f5f9;
}



input[type="checkbox"] {
    width: 16px;
    height: 16px;
    color: grey;
    border: 1px #ddd;
    accent-color: #4caf50;
    /* margin-left: 8px; */
}

.dots-wrapper {
    position: relative;
    display: inline-block;
}

.dots-menu {
    /* flex-direction: row;
     padding: 10px; */
    position: absolute;
    top: 28px;
    right: 0;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 6px;
    width: 120px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: none;
    z-index: 10;
}

.dots-wrapper:hover .dots-menu {
    display: block;
}

.dots-btn {
    width: 100%;
    background: none;
    /* text-decoration: dashed; */
    border: none;
    padding: 8px 10px;
    text-align: left;
    /* flex-direction: row;
     padding: 10px; */
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
}

.dots-btn:hover {
    background-color: #f1f5f9;
}

.dots-btn.delete {
    color: #dc2626;
}
